body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container {
    padding: 0 128px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    color: inherit;
}

/* navigation bar */
nav {
    width: 100%;
    background: white;
}

nav .row {
    height: 86px;
}

nav .logo,
nav .nav-link {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
    align-items: center;
}

nav img {
    width: 166px;
    cursor: pointer;
}

nav .nav-link {
    justify-content: space-between;
}

nav .nav-link-item,
nav .dropdown {
    font-weight: 500;
    font-size: 16px;
    padding-right: 35px;
    cursor: pointer;
}

nav .dropdown {
    display: flex;
    position: relative;
    align-items: center;
}

nav .dropdown-content {
    display: none;
    position: absolute;
    z-index: 10;
    top: 25px;
    width: 95%;
    overflow: auto;
}

nav .dropdown:hover .dropdown-content {
    display: block;
}

nav .dropdown-content a {
    display: block;
    color: black;
    padding: 5px;
    text-decoration: none;
}

nav .dropdown-content a:hover {
    color: #FFFFFF;
    background-color: #00A4BD;
}

nav button {
    padding: 16px 32px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: white;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2A2F9A;
    cursor: pointer;
}

nav button:hover {
    background: #2A2F9A;
    color: white;
}

/* footer */
footer {
    background: #2A2F9A;
    padding: 100px 0;
    color: white;
}

footer .koppoh {
    flex: 0 0 50%;
    max-width: 50%;
}

footer .quick-links,
footer .contact {
    flex: 0 0 25%;
    max-width: 25%;
}

footer .koppoh img {
    display: block;
    padding-bottom: 24px;
}

footer .title {
    font-weight: 700;
    padding-bottom: 19px;
}

footer .links {
    padding-bottom: 8px;
    cursor: pointer;
}

footer .contact img {
    padding: 11px 24px 0 0;    
}




/* home page */
/* blur effect */
.blur1 {
    position: absolute;
    top: 86px;
    left: 0;
}

.blur {
    position: absolute;
    top: 86px;
    right: 0;
}

/* hero section */
.landing-page {
    padding: 81px 0 80px 0;
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.landing-page .row {
    height: 523px;
}

.landing-page .start-up {
    flex: 0 0 55%;
    max-width: 55%;
    display: flex;
    justify-content: end;
    align-items: left;
    flex-direction: column;
}

.landing-page .picture {
    flex: 0 0 45%;
    max-width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.landing-page .title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 30px;
}

.landing-page .text {
    font-size: 20px;
    padding-bottom: 30px;
}

.landing-page button {
    width: 288px;
    padding: 16px 100px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

/* about section */
.about {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 160px 0;
}

.about .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.about .row {
    width: 1265px;
}

.about .image,
.about .message {
    flex: 0 0 50%;
    max-width: 50%;
    display: flex;
}

.about .image {
    align-items: center;
    justify-content: end;
}

.about img {
    padding-right: 50px;
}

.about .message {
    justify-content: center;
    align-items: left;
    flex-direction: column;
}

.about .title {
    padding: 16px 0;
    font-size: 32px;
    font-weight: bold;
}

.about .text {
    padding-right: 69px;
    padding-bottom: 16px;
    font-size: 16px;
}

.about .more {
    display: flex;
    align-items: center;
    cursor: pointer;
    color: #2A2F9A;
    font-weight: bold;
}

.about .more svg {
    padding-left: 8px;
}

/* services section */
.service {
    padding: 96px 35px;
    background: #FCFCFC;
}

.service .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.service .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 48px;
}

.service .service-item {
    width: 1113px;
}

.service .proposal,
.service .investor,
.service .support {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.service .proposal {
    background-color: rgba(42, 47, 154, 0.02);
}

.service .investor {
    background-color: rgba(239, 165, 33, 0.02);
}

.service .support {
    background-color: rgba(14, 153, 29, 0.02);
}

.service .cover {
    padding: 40px 24px;
}

.service .head {
    padding: 104px 0 16px 0;
    font-size: 24px;
    font-weight: 600;
}

.service .proposal .head {
    color: #2A2F9A;
}

.service .investor .head {
    color: #EFA521;
}

.service .support .head {
    color: #0E991D;
}

.service .body {
    font-size: 16px;
    padding: 0 24px 16px 0;
}

.service .more {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-weight: bold;
    font-size: 16px;
}

.service .more svg {
    padding-left: 8px;
}

/* blog section */
.blog {
    padding: 160px 0;
}

.blog .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.blog .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    padding: 80px 0 48px 0;
}

.blog .blog-item {
    width: 1153px;
}

.blog .blog-item .article {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.blog .blog-item .cover {
    margin: 0 25px;
    border: 1px solid #D5D5D5;
    border-radius: 4px;
}

.blog .blog-item img {
    width: 100%;
}

.blog .blog-item .description {
    padding: 16px;
}

.blog .blog-item .blog-title {
    font-size: 24px;
    font-weight: 600;
    padding-bottom: 8px;
}

.blog .blog-item .blog-text {
    padding-bottom: 24px;
}

.blog .blog-item .more {
    font-size: 14px;
    color: #2A2F9A;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.blog .more svg {
    padding-left: 8px;
}

.blog .readall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.blog button {
    width: 288px;
    padding: 16px 90px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

/* newsletter section */
.newsletter {
    background-color: rgba(42, 47, 154, 0.02);
    padding: 100px 0;
}

.newsletter .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.newsletter .title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 16px;
}

.newsletter .text {
    padding-bottom: 40px;
}

.newsletter form {
    width: 784px;
    padding: 56px;
    border-radius: 4px;
    background: white;
}

.newsletter form label {
    display: block;
    padding-bottom: 8px;
}

.newsletter form .email {
    display: block;
    padding: 16px 0 16px 16px;
    margin-bottom: 40px;
    background: #FCFCFC;
    border: 0;
    border-radius: 4px;
    width: 100%;
}

.newsletter form .submit {
    width: 100%;
    padding: 16px 0;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

/* faqs section */
.faqs {
    padding: 160px 0;
}

.faqs .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.faqs .title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 16px;
}

.faqs .text {
    padding-bottom: 40px;
}

.faqs .cover {
    width: 1034px;
    padding-bottom: 40px;
}

.faqs .accordion {
    background-color: white;
    color: #2D2D2D;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-bottom: 1px solid #B9B9B9;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: 0.4s;
}

.faqs .active,
.faqs .accordion:hover {
    background-color: #2A2F9A;
    border-bottom: none;
    color: white;
}

.faqs .accordion:after {
    content: '\002B';
    color: #2D2D2D;
    font-weight: bold;
    float: right;
    margin-left: 5px;
}

.faqs .active:after {
    content: "\2212";
    color: white;
}

.faqs .panel {
    padding: 0 32px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

.faqs button {
    width: 288px;
    padding: 16px 100px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}




/* about-us page */
/* hero section */
.first-page {
    padding: 81px 0 80px 0;
    background-image: url(assets/hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.first-page .row {
    height: 523px;
}

.first-page .start-up {
    flex: 0 0 55%;
    max-width: 55%;
    display: flex;
    justify-content: end;
    align-items: left;
    flex-direction: column;
}

.first-page .picture {
    flex: 0 0 45%;
    max-width: 45%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.first-page .quote {
    color: white;
    font-size: 90px;
    font-weight: bold;
    padding: 0 0 8px 52px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: rgba(00, 00, 00, 0.3);
}

.first-page .title {
    font-size: 48px;
    font-weight: bold;
    padding-bottom: 30px;
}

.first-page .text {
    font-size: 20px;
    padding-bottom: 30px;
}

.first-page .picture img {
    position: absolute;
    margin-top: 686px;
}

/* our-story section */
.about .story-image {
    flex: 0 0 40%;
    max-width: 40%;
    display: flex;
}

.about .story {
    flex: 0 0 60%;
    max-width: 60%;
    display: flex;
}

.about .story-image {
    align-items: center;
    justify-content: end;
}

.about .story {
    justify-content: end;
    align-items: left;
    flex-direction: column;
}

.about .story .text {
    padding-right: 138px;
    font-size: 16px;
}

/* core values section */
.values {
    padding: 160px 96px;
}

.values .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 40px;
}

.values .core .cv {
    flex: 0 0 20%;
    max-width: 20%;
}

.values .core .cover {
    margin: 0 24px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-size: 20px;
    background-color: rgba(207, 208, 235, 0.1);
}

.values .core svg {
    padding-bottom: 16px;
}

/* work section */
.work {
    background: #FCFCFC;
    padding: 160px 0;
}

.work .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.work .title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 32px;
    padding: 80px 0 48px 0;
}

.work .work-item {
    width: 1153px;
}

.work .work-item .article {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.work .work-item .cover {
    margin: 0 25px;
    border: 1px solid #D5D5D5;
    background: white;
    border-radius: 4px;
}

.work .work-item .description {
    padding: 0 22px;
}

.work .work-item svg {
    padding-top: 80px;
}

.work .work-item .work-title {
    font-size: 24px;
    font-weight: bold;
    padding-top: 8px;
    padding-bottom: 15px;
}

.work .work-item .work-text {
    padding-bottom: 37px;
}

.work .readall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 80px 0;
}

.work button {
    width: 288px;
    padding: 16px 90px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}




/* Our partners page */
/* partner with koppoh section */
.partner-with-koppoh {
    position: relative;
    z-index: 2;
    background-color: white;
    padding: 176px 250px;
}

.partner-with-koppoh .partner {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.partner-with-koppoh .title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 16px;
}

.partner-with-koppoh .text {
    padding: 0 148px 48px 148px;
}

.partner-with-koppoh button {
    width: 288px;
    padding: 16px 90px;
    margin-top: 48px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}

/* partner story section */
.partner-story {
    background: #FCFCFC;
    padding: 100px 150px;
}

.partner-story .title {
    font-weight: bold;
    font-size: 32px;
    padding-bottom: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-story .testimonials {
    padding-bottom: 48px;
}

.partner-story .testimonials .image {
    flex: 0 0 30%;
    max-width: 30%;
}

.partner-story .testimonials .t-text {
    flex: 0 0 70%;
    max-width: 70%;
}

.partner-story .cover {
    padding: 0 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 335px;
    background: #F5F5FF;
}

.partner-story .image .cover {
    align-items: center;
}

.partner-story .testimonials .space {
    padding-right: 24px;
}

.partner-story .testimonials .t-title {
    padding-top: 16px;
    font-weight: bold;
}

.partner-story .next-prev {
    display: flex;
    justify-content: center;
    align-items: center;
}

.partner-story .next-prev svg:last-child {
    padding-left: 62px;
}




/* Contact us page */
/* main contact section */
.main-contact .main-title {
    font-weight: bold;
    font-size: 32px;
    padding-top: 64px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-contact .main-sub-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding: 8px 0 64px 0;
}

.main-contact .details {
    padding: 80px 160px;
}

.main-contact .details .phone,
.main-contact .details .address,
.main-contact .details .email {
    flex: 0 0 33.33%;
    max-width: 33.33%;
}

.main-contact .details .cover {
    margin: 32px;
    padding: 56px 32px;
}

.main-contact .details svg {
    padding: 30px 0 24px 0;
}

.main-contact .phone .cover {
    background-color: rgba(42, 47, 154, 0.02);
}

.main-contact .address .cover {
    background-color: rgba(239, 165, 33, 0.02);
}

.main-contact .email .cover {
    background-color: rgba(14, 153, 29, 0.02);
}

.main-contact .details .title {
    font-size: 24px;
    font-weight: bold;
    padding: 0 24px 8px 24px;
}

.main-contact .details .text {
    padding: 0 24px;
}

.main-contact .details span {
    font-weight: bold;
}

/* form section */
.form {
    padding: 40px 0 104px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form form {
    width: 769px;
    padding: 40px 56px;
}

.form .q-title {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.form .q-text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-bottom: 24px;
}

.form .form-link {
    width: 100%;
    border-radius: 4px;
    background: #F6F6F6;
    border: #F6F6F6;
    font-size: 20px;
    padding: 8px;
    margin-bottom: 24px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form .form-submit {
    width: 100%;
    padding: 16px 90px;
    border: 1px solid #2A2F9A;
    border-radius: 4px;
    background: #2A2F9A;
    font-size: 16px;
    font-weight: 500;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: white;
    cursor: pointer;
}